.idea
*.ipr
*.imr
*.iws
*.iml
*.docx
*.sublime-project
*.sublime-workspace
.python-version
**/*.jpg
**/*.png
*.swp
*.pyc
*.DS_Store
__pycache__
*.pem
.sass-cache

gcp-service-account-key.json
*.cache/
venv/
csv/
files/
*.coverage
*htmlcov

.claude/settings.local.json
.claude/worktrees/
.obsidian
.vscode
apidoc
docs

**/*.ini
config/**.*
**/*.xlsx

*.bak

archives/